@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    /* background-color: darkcyan; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 400px;
    /* border: 1px solid rgb(2, 2, 2); */
}

.container{
    width: 100%;
    background-color: darkcyan;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgb(34, 34, 34);
    position: relative;
    border-radius: 20px;
    text-align: center;
}

.container::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #fff;
    z-index: -1;
    top: -7%;
    left: 10%;
}

.container p{
    color: bisque;
    line-height: 2;
    font-size: 20px;
}

.container h3{
    color: #fff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}

.container h3::before{
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 13%);

}

.container button {
    background-color: #fff;
    padding: 15px 45px;
    border-radius: 59px 10px 59px;
    font-weight: 600;
    font-size: 18px;
    color: darkcyan;
    cursor: pointer;
    outline: 0;

    border: none; 
    border-left: 2px solid #620cec;

    transition:all .3s ease;
}

.container button:hover{
    background-color: rgb(240, 216, 80);

    color: #444;
}